In [1]:
import pandas as pd
df = pd.read_csv("./Resources/diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
# Seperate the feature X from the target y
y = df.Outcome
X = df.drop(columns="Outcome")

In [7]:
y

0      1
1      0
2      1
3      0
4      1
5      0
6      1
7      0
8      1
9      1
10     0
11     1
12     0
13     1
14     1
15     1
16     1
17     1
18     0
19     1
20     0
21     0
22     1
23     1
24     1
25     1
26     1
27     0
28     0
29     0
      ..
738    0
739    1
740    1
741    0
742    0
743    1
744    0
745    0
746    1
747    0
748    1
749    1
750    1
751    0
752    0
753    1
754    1
755    1
756    0
757    1
758    0
759    1
760    0
761    1
762    0
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [17]:
# Split our data into training and testing 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1, stratify=y)
X_train.shape

(576, 8)

In [18]:
# Create a logistic regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', max_iter=200, random_state=1)
classifier

LogisticRegression(max_iter=200, random_state=1)

In [19]:
# fit training or modeling using training data
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [27]:
# Make a prediction
y_prediction = classifier.predict(X_test)
results = pd.DataFrame({"Predictions": y_prediction, "Actual": y_test}).reset_index(drop=True)
results

     Predictions  Actual
0              0       0
1              1       1
2              0       0
3              1       1
4              0       0
5              0       0
6              1       1
7              1       0
8              1       1
9              0       0
10             1       1
11             0       1
12             0       0
13             1       1
14             0       1
15             0       1
16             0       0
17             0       0
18             1       1
19             0       0
20             0       0
21             0       1
22             0       0
23             0       0
24             0       0
25             1       1
26             1       1
27             0       0
28             0       0
29             0       0
..           ...     ...
162            0       0
163            0       0
164            0       0
165            1       0
166            1       0
167            0       0
168            0       1
169            1       1
170            0       0
171            0       0
172            0       0
173            0       0
174            0       0
175            0       1
176            0       1
177            0       0
178            0       0
179            0       0
180            0       1
181            0       0
182            0       0
183            0       0
184            0       0
185            1       1
186            0       0
187            1       1
188            0       0
189            0       0
190            0       0
191            0       0

[192 rows x 2 columns]

In [28]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_prediction))

0.7760416666666666

In [30]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_prediction)
print(matrix)

[[113  12]
 [ 31  36]]

In [32]:
report = classification_report(y_test, y_prediction)
print(report)

              precision    recall  f1-score   support

           0       0.78      0.90      0.84       125
           1       0.75      0.54      0.63        67

    accuracy                           0.78       192
   macro avg       0.77      0.72      0.73       192
weighted avg       0.77      0.78      0.77       192